<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="/main/css/events.css">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Events - EGEA Bochum</title>
        <link rel="stylesheet" href="../../../static/main/css/events.css">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="Main.html"><img src="../../../static/main/images/images/Logo1.png" alt="logo"/></a>
                </div>
                <div class="burger" onclick="document.querySelector('.nav').classList.toggle('active'); document.querySelector('.burger').classList.toggle('active'); ">
                    <span class="bar"></span>	 
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <li><a href="Main.html">Home</a></li>
                        <li><a href="News.html">News</a> </li>
                        <li><a href="../Events.html">Events</a></li>
                        <li><a href="About.html">About us</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                        <li class="hidden_login"><a href="#">Log in</a></li>
                    </ul>
                </nav>
                <div class="login">
                    <button class="button">
                        Log in
                    </button>
                </div>
            </div>
        </header>
    </body>
</html>
